* {
    margin: 0;
}

body {
    /* Created with https://www.css-gradient.com */
    background: #1E3235;
    background: -webkit-radial-gradient(right, #1E3235, #484895);
    background: -moz-radial-gradient(right, #1E3235, #484895);
    background: radial-gradient(to left, #1E3235, #484895);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: rgb(17, 154, 17);
}


.container {
    /* Created with https://www.css-gradient.com */
    background: #162C3B;
    background: -webkit-linear-gradient(top left, #162C3B, #111C45);
    background: -moz-linear-gradient(top left, #162C3B, #111C45);
    background: linear-gradient(to bottom right, #162C3B, #111C45);
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 6px;
    width: 500px;
    height: 250px;
    box-shadow: #162C3B 0px 2px 4px, #162C3B 0px 7px 13px -3px, #162C3B 0px -3px 0px inset;
}

.tempo {
    width: 100%;
    height: 150px;
}

button {
    padding: 10px 25px 10px 25px;
    border-radius: 10px;
    border: 0;
    cursor: pointer;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

button:hover {
    background-color: rgb(127, 128, 129);
    color: aliceblue;
}

.botoes {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: 5px;

}

.tempo {
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    margin: 8px;
    color: white;
    font-size: 60px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


@media only screen and (max-width: 500px){
    .container{
        width: 400px;
    }
    h1{
        font-size: 40px;
    }
    
}

@media only screen and (max-width: 430px){
    .container{
        width: 300px;
    }
    h1{
        font-size: 30px;
    }

    button{
        padding: 7px 20px 7px 20px;
    }
}